# GitHub Configuration
GITHUB_TOKEN=

# Cloudflare Configuration
CLOUDFLARE_API_TOKEN=
# DATABASE_URL=
# DATABASE_AUTH_TOKEN=

# Admin Access
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=
JWT_SECRET=

# API Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
